<div class="text-center">
    <h1 class="display-4" style="color:#00008B;font-weight:bold;font-family:Georgia, 'Times New Roman', Times, serif; margin-top:30px">Course Enrollment System</h1>
    <br /><br />
    
    <img src="../.././../assets/Images/undraw_Reading_list_re_bk72.png" width="700" height="500" style="float:left" />

    <div style="text-align:center;margin-top:50px;">
        <h3 style="color:#00008B;font-family:Georgia, 'Times New Roman', Times, serif;">Login As</h3>
        <br /><br />
    <input type="button" [routerLink]="['/SLogin']"
    style="background-color:#00008B;border-color:#00008B;font-size:50px;color:white;width:200px" 
    value="Student" />
    <br /><br /><br />
        <input type="button" [routerLink]="['/ALogin']"
        style="background-color:#00008B;border-color:#00008B;font-size:50px;color:white;width:200px" value="Admin"/>
    <br /><br /><br />
   </div> 

</div>

<!-- <router-outlet></router-outlet> -->
